/* ----------------GENERAL-------------------*/
/* -------------------------------------------*/
* {
   font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
}

.contenedor {
  margin: 0 auto 0;
  width: 90%;
  padding: 0 20px;
}
/*============= NOTIFICACION DEL NAVBAR DEL CARRITO==================*/
#contador-carrito {
  position: absolute; 
  top: -10px;
  right: -10px;
  background-color: #36b2eb;
  color: white;
  font-size: 14px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  
  
}
/*============= scroll bar==================*/
#carrito-container{
  width: 100%;
  background-color: #558A7A;
  border-radius: 10px;
  padding: 20px;
  margin: 30px 0;
}

.indicador-vacio{
font-size: 2rem;
}


/*============= scroll bar==================*/
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #2a2725;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #514b47;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #605a57;
}