* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
}

/*============= SECCION DE EMPRENIDMIENTOS==================*/



/*============= SECCION DE EMAIL==================*/
.promotions-section {
  background-color: #4e8672; /* Fondo verde */
  padding: 60px 30px;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  margin: 100px 60px 0 60px  ;
  
  display: flex;
}
.promotions-section-izquierda{
  width: 60%;
  
  
}
.promotions-section h3 {
  font-size: 30px; /* Incrementa el tamaño del título */
  margin: 0 0 10px; /* Añade más espacio debajo */
  font-weight: bold;
  text-align: left; /* Alinea el título a la izquierda */
  color: white;
  text-align: center;
}

.promotions-section p {
  font-size: 20px; /* Incrementa el tamaño del texto */
  margin: 0 0 5px; /* Mantiene espacio debajo del párrafo */
  text-align: left; /* Alinea el párrafo a la izquierda */
  color: white;
  text-align: center; 
  font-family: 'ABeeZee', sans-serif;
}


.promotions-section form {
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  align-items: center; /* Alinea todo a la derecha */
  gap: 15px; /* Espacio entre el input y el botón */
  width: 40%;

}

.promotions-section input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  width: 100%; /* Asegura que ocupe el máximo ancho posible */
  max-width: 300px; /* Limita el ancho máximo */
  text-align: center;
}

.promotions-section button {
  background-color: #d84c4c; /* Fondo rojo */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; /* Asegura que el botón tenga el mismo ancho que el input */
  max-width: 300px; /* Limita el ancho máximo */
}
.promotions-section button:hover{
  background-color: #ad3943;

}


/*============= scroll bar==================*/
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #2a2725;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #726c68;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #605a57;
}