
/*============= GENERAL==================*/

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
}



.container2{
    padding: 40px 110px;
    background-color: #D7D7D7;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   width: 100%;
    
    
    
}

.contenedor-izquierda{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.contenedor-izquierda a{
    text-decoration: none;
    color: #1A2F2D;
    font-weight: 600;
    width: 300px;

}

.contenedor-centro img{
    width: 300px;

}
.contenedor-derecha{
    width: 300px;
    display: flex;
    gap: 40px;
    justify-content: center;
    height: 150px;
    align-items: start;
}
.contenedor-derecha a{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    
}
.contenedor-derecha a img{
    width: 35px;
}

/*============= COPYRIGHT==================*/
.copyright-section{
    background-color: #1A2F2D;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin: 0;

}
.copyright-section p{
    font-family: "ABeeZee", sans-serif;
  
}


@media (max-width: 1150px) {

   .container2 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  gap: 20px; /* Espacio entre las celdas */
  padding: 20px;
  background-color: #d7d7d7;
    /* Centrando las columnas */
  justify-content: center; /* Centrar horizontalmente */
  align-content: center; /* Centrar verticalmente */
}

.contenedor-izquierda {
  background-color: blue;
  grid-column: 1; /* Se queda en la primera columna */
  grid-row: 1 / 3; /* Ocupa dos filas */
  padding: 10px;
}

.contenedor-centro {
  background-color: green;
  grid-column: 1; /* En la primera columna */
  grid-row: 3; /* Debajo de contenedor-izquierda */
  padding: 10px;
}

.contenedor-derecha {
  background-color: blanchedalmond;
  grid-column: 2; /* En la segunda columna */
  grid-row: 1 / 3; /* Ocupa dos filas al lado derecho */
  padding: 10px;
}


}