* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
}

/* Banner */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #558A7A;
  padding: 50px;
  margin: 20px 40px;
}

/* Contenido de texto */
.text-content {
  max-width: 50%;
}

.text-content h1 {
  font-size: 3rem;
  color: white;
  line-height: 1.3;
  font-weight: 700;
}

.text-content p {
  font-size: 1.2rem;
  color: white;
  margin-top: 20px;
  line-height: 1.6;
}

/* Contenedor de imágenes */
.image-container {
  position: relative;
  max-width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-character {
  width: 300px; /* Aumenta el ancho para hacer la imagen más grande */
  height: auto; /* Mantiene las proporciones */
  z-index: 2;
  transform: scale(1.4); /* Escala la imagen sin afectar el contenedor */
  transform-origin: center; /* Mantiene el punto de escala centrado */
  position: relative; /* Permite mover la imagen */
  top: -20px; /* Mueve la imagen hacia arriba (ajusta según necesidad) */
}

.floating-image {
  position: absolute;
  z-index: 1;
}

.salad {
  top: 70px; /* Posición superior de la ensalada */
  right: 5px; /* Posición derecha de la ensalada */
  width: 80px;
  padding: 10px; /* Espacio adicional alrededor de la imagen */
  background-color: white; /* Fondo blanco */
  border-radius: 15%;
  z-index: 3; /* Asegura que esté al frente */
}

.meat {
  bottom: 0; /* Posición inferior de la carne */
  left: -80px; /* Posición izquierda de la carne */
  width: 70px;
  padding: 10px; /* Espacio adicional alrededor de la imagen */
  background-color: white; /* Fondo blanco */
  border-radius: 15%;
  z-index: 3; /* Asegura que esté al frente */
}