/* styles.css */
* {
   font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
}



.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #45a049;
  
}
.navbar-superior{
  background-color: #558A7A;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
.carrito{
    background-color: #C5414B;

  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}
.navbar-inferior{
  background-color: #1A2F2D;
}


.lista {
  width: 100%;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.derecha {
  display: flex;
  align-items: center;
}

.lista ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.lista li {
  padding: 15px 20px;
}
.lista a {
  color:#FFFFFF;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
}
.lista a:hover {
  color: #C5414B;
}
.navbar-brand {
  transition: background-color 0.3s ease, color 0.3s ease;
  color:#FFFFFF;
  font-size: 1.8rem;
  text-decoration: none;
}
.navbar-brand:hover {
  color: #C5414B;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchInput {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#searchResults {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}
