/* styles.css */
* {
   font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
}



.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  
  
}
.navbar-superior{
  background-color: #558A7A;
  display: flex;
  justify-content:space-between;
  padding: 20px  60px;
}
.carrito{
  background-color: #C5414B;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  border-radius: 25px;
  transition: background-color 0.3s;
  position: relative;
  cursor: pointer;


}
.carrito a{
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;    /* Centrado vertical */
  gap: 7px;
  font-size: 16px;
  
}
#contador-carrito {
  position: absolute; 
  top: -10px;
  right: -10px;
  background-color: #36b2eb;
  color: white;
  font-size: 14px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  
  
}
.carrito:hover{
    background-color: #ad3943;
}
.navbar-inferior{
  background-color: #1A2F2D;
  width: 100%;
  
}



.derecha {
  display: flex;
  align-items: center;
}

.navbar-inferior ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
justify-content: center;
}
.navbar-inferior li {
  padding: 16px 20px;
  margin: 0 80px;


}
.navbar-inferior a {
  color:#FFFFFF;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 10px;
  font-weight: bold;
}
.navbar-inferior a:hover {
  color: #C5414B;
}
.navbar-brand {
  transition: background-color 0.3s ease, color 0.3s ease;
  color:#FFFFFF;
  font-size: 1.6rem;
  text-decoration: none;
  font-family: 'Lexend Giga', sans-serif;
}
.navbar-brand:hover {
  color: #C5414B;
}
.search-container {
  display: flex;
  align-items: center;
  background-color: #EAF1ED; /* Color del fondo del cuadro */
  border-radius: 10px; /* Bordes redondeados */
  padding: 5px 10px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-input {
  border: none;
  outline: none;
  background: none;
  flex: 1;
  font-size: 16px;
  color: #333;
}

.search-icon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}

.fa-magnifying-glass{
  color: #888;
  font-size: 15px;
  margin-right: 10px;
}

.search-input::placeholder {
  color: #888;
}
