/*============= GENERAL==================*/
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
  user-select: none;
}

/*============= SOBRE NOSOTROS==================*/
.sobre-nosotros {
  position: relative; /* Para posicionar elementos de forma relativa a este contenedor */
  display: flex; /* Habilitar Flexbox */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 442px; /* Ajusta el alto según sea necesario */
  background-color: #1a2f2d; /* Color de fondo opcional */
}

.sobre-nosotros img {
  width: 100%; /* Asegúrate de que la imagen ocupe todo el ancho */
  height: 442px;
  position: absolute; /* Superpone la imagen detrás del texto */
  object-fit: cover;
}

.sobre-nosotros h1 {
  color: #a9bb9c; /* Contraste con el fondo */
  margin: 0; /* Elimina márgenes predeterminados */
  text-align: center;
  font-size: 5.3rem;
  font-family: "Syne", sans-serif;
}
/*============= CONTENERDOR PARRAFOS==================*/
.contenedor-parrafo {
  padding: 110px 270px;
}
.contenedor-blanco {
  padding: 30px;
  min-width: 470px;
}
.contenedor-blanco p {
  font-size: 1.3rem;
  font-family: "ABeeZee", sans-serif;
}
.contenedor-para-gris {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.contenedor-gris {
  padding: 30px;
  background-color: #d1d1d1;
  border-radius: 10px;
  width: 41%;
  min-width: 420px;
}
.contenedor-gris p {
  font-size: 1.3rem;
  font-family: "ABeeZee", sans-serif;
}
/*============= CONTENERDOR VALORES==================*/

.contenedor-valores {
  display: flex;
  background-color: #a9bb9c;
  padding: 80px 80px 0 80px;
  gap: 180px;
  position: relative;
}

.valores h1 {
  font-size: 5.3rem;
  color: #1a2f2d;
  margin-bottom: 40px;
  font-family: "Syne", sans-serif;
}
.descripcion {
  display: flex;
  gap: 150px;
}

ol li {
  font-size: 1.35rem;
  margin-bottom: 60px; /* Espacio entre los elementos */
  font-family: "ABeeZee", sans-serif;
}
.flotante {
  position: absolute; /* Permite que flote encima de la imagen */
  bottom: -69px; /* Ajusta la posición desde la parte inferior */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Ajusta el centrado real */
  background-color: #1a2f2d; /* Fondo semitransparente */
  color: #fff; /* Texto blanco para contraste */
  padding: 20px 100px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  text-align: left; /* Centra el texto */
  max-width: 60%; /* Limita el ancho del párrafo */
  min-width: 530px;
}
.flotante p {
  font-size: 1.3rem;
  font-family: "ABeeZee", sans-serif;
}
/*============= CONTENERDOR GRACIAS==================*/
.gracias {
  padding: 200px 0 140px 0;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gracias-contenido {
  text-align: center;
  max-width: 48%;
  padding: 20px 100px; /* Espaciado interno */
  min-width: 700px;
}
.gracias-contenido p {
  font-size: 1.35rem;
}

/*============= scroll bar==================*/
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #2a2725;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #726c68;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #605a57;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 1500px) {
  .img-empleado {
    width: 400px;
    display: flex;
    align-items: end;
  }
  .img-empleado img {
    width: 500px;
  }
  .valores h1 {
    font-size: 5rem;
  }
  ol li {
    font-size: 1.2rem;
  }

  .flotante p {
    font-size: 1rem;
  }
  .gracias-contenido p {
    font-size: 1.2rem;
  }
}

@media (max-width: 1420px) {
  .sobre-nosotros h1 {
    font-size: 4.6rem;
  }
  .contenedor-parrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contenedor-para-gris {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}

@media (max-width: 1120px) {
  .descripcion {
    flex-direction: column;
    gap: 0;
  }
  .sobre-nosotros {
    height: 350px; /* Ajusta el alto según sea necesario */
  }
  .sobre-nosotros img {
    height: 350px;
  }
}

@media (max-width: 768px) {
  .sobre-nosotros {
    height: 300px; /* Ajusta el alto según sea necesario */
  }
  .sobre-nosotros img {
    height: 300px;
  }
  .sobre-nosotros h1 {
    font-size: 3.6rem;
  }
  .contenedor-valores {
    display: flex;
    justify-content: center;
    padding: 80px 80px 100px 80px;
  }

  .valores h1 {
    font-size: 3.4rem;
  }
  ol li {
    font-size: 1.1rem;
  }
  .img-empleado {
    display: none; /* Elimina el contenedor y evita que ocupe espacio */
  }
  .flotante {
    padding: 20px 50px; /* Espaciado interno */
  }
}

@media (max-width: 393px) {
  .sobre-nosotros {
    height: 200px; /* Ajusta el alto según sea necesario */
  }
  .sobre-nosotros img {
    height: 200px;
  }
  .sobre-nosotros h1 {
    font-size: 2rem;
  }
  .contenedor-parrafo {
    width: 93%;
    margin: 0 auto;
    padding: 0;
  }

  .contenedor-blanco p {
    font-size: 0.8rem;
  }
  .contenedor-blanco {
    margin-top: 30px;
    padding: 0;
    min-width: 0;
  }
  .contenedor-para-gris {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .contenedor-gris {
    padding: 15px;
    width: 100%;
    min-width: 0;
    margin: 0;
  }

  .contenedor-gris p {
    font-size: 0.8rem;
  }
  .contenedor-valores {
    margin-top: 40px;
    padding: 20px 0 50px 0;
    position: relative;
  }
  .valores h1 {
    font-size: 1.8rem;
    text-align: center;
  }
  ol li {
    font-size: 0.8rem;
  }
  .flotante {
    bottom: -74px; /* Ajusta la posición desde la parte inferior */
    padding: 10px 30px 0 30px; /* Espaciado interno */
    max-width: 0; /* Limita el ancho del párrafo */
    min-width: 93%;
    margin: 0 auto;
  }

  .flotante p {
    font-size: 0.8rem;
  }

  .gracias {
    padding: 160px 0 70px 0;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gracias-contenido {
    max-width: 0;
    padding: 0 30px; /* Espaciado interno */
    min-width: 100%;
  }
  .gracias-contenido p {
    font-size: 0.8rem;
  }
}