* {
   font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
}
.contenedor {
  margin: 0 auto 0;
  width: 90%;
  padding: 0 20px;
}
#productos-container {
  display: flex; /* Usamos flexbox */
  flex-wrap: wrap; /* Permite que las cartas se acomoden en múltiples líneas si es necesari*/
  gap: 20px; /* Espacio entre los productos */
  justify-content: flex-start; /* Alinea las cartas a la izquierda */
}
.producto .img img {
  width: 200px; /* La imagen no será más ancha que 200px */
  height: 200px;
 
  object-fit: contain; /* Ajusta la imagen sin estirarla */
}
.producto .img {
  text-align: center; /* Alinea la imagen en el centro del contenedor */
}

.producto {
  border-radius: 8px;
  padding: 16px;
  width: 260px;
  text-align: left;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
    line-height: 1.5;
}

.producto h3 {
  font-size: 18px;
  margin: 8px 0;
}

.producto p {
  font-size: 14px;
  color: #555;
}
.btn {
    margin-top: 15px;
  width: 100%;
  text-align: center;
}
.boton-enlace {
  background-color: #4caf50;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  
}

.boton-enlace:hover {
  background-color: #45a049;
}
h1{
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.dropdown-btn{
  margin-bottom: 30px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 12px;
  border-radius: 8px;
  z-index: 1;
}

.dropdown-content .checkbox-group {
  display: flex;
  flex-direction: column;
}

.dropdown-content .apply-filters {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown-content .apply-filters:hover {
  background-color: #45a049;
}

/* Mostrar dropdown cuando tenga la clase 'show' */
.dropdown-content.show {
  display: block;
}

